h1{
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  font-size: 3em;
}
/* Style nav */

#soustitre{
  text-align: center;
  padding-top: 1em;
}

nav{
  border:1px solid grey;
  margin-right: 1em;
  margin-left: 1em;
}

nav a{
  color: grey;
}

/* Style formulaire de connexion */
#connectionform{

  padding-top: 0.5em;
}

#connectionform p{
	padding-right: 1em;

}

#explications h4{
	text-align: center;
}

#explications h3{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
}

#indexdesc{
	text-align: justify;
}

.container-fluid .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: green;
}

.container-fluid #imgtext {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
}

/* Style formulaire creation compte*/

/*------ TODO -------*/



/* Style page principale connexion */

#montantcc {
  text-align: center;
  margin-right: 2em;
  margin-left: 2em;
  border: 1px solid black;
}

#montantce h2{
  margin-top: 2em;
  margin-bottom: 1em;
}


/* style historique */

#formnbelemcc, #formnbelemce{
  text-align: center;
}

/* style virement*/

#selvirement a {
  text-align: center;
}

#vervirement{
  display: block;
  background-color: lightgreen;
  padding: 2em;
  margin: 1em; 
  border-radius: 50px 50px ;
  color: black;
}
#vervirement:hover{
  box-shadow: 5px 5px 10px  grey;
}

/* Style gestionCompte */
#gestioncomptediv{
  margin: 1em;
  border: 1px solid black;
}


 #gestioncomptesoustitre{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
 }

 /* Style page informations */

#infopersonelles{
  border : 1px solid grey;
  margin: 1em;
  padding: 1em;
}

/* Style Footer */
footer{
  margin-top: 3em;
  background-color: green;
  padding-bottom: 2em;
}

footer h2{
  text-align: center;
}

footer p{
  text-align: center;
  padding-top: 4em;
}